.wowie {   
    display: flex;
    background-color: rgba(102,0, 204, 0.79);    
    width: 100vw;
}

.wowie  h1 {
    color: rgb(255, 255, 255);
    font-size: 4em;
    text-transform: uppercase;
}

.presents {
   background-image: url('../img/flowers_larger.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: 'no-repeat';
}

.about-container {
    display: flex;
    background-color: transparent;
    max-width: 60%;
    padding: 3%;
    margin: 0 auto;
}  

.about-text {
    background-color: rgb(253, 253, 253);
}

.about-text h2, p {
    font-family: 'Nunito Sans', sans-serif;
    padding-top : 3%;
    padding-bottom: 4%;
    margin: 0 4% 0 5%;
}
.about-text ul, li {
    margin-left: 5%;
}


