.nav-container {
    width: 100%;
    background-color:  rgba(102, 0, 204, 0.79);
}

.angel {
    margin-top: 0.5em;
    margin-right: 2em;
    margin-left: 5em;
}

.navbar  {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-body {
    display: flex;
    width: 100%;
    background-color: white;
    list-style-type: none;
}

.nav-link {
    margin-top: 2em;
    margin-left: 4em;
}

.nav-link a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.nav-link a:hover {
    color: rgb(0, 192, 240);
}






